header {
  width: 100vw;
  background-color: #09070c;
}
/* ----------------------
home section style 
------------------------*/
.home {
  display: flex;
}
.title-and-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;
  animation: slide-right 1s ease-in 0.2s 1 forwards;
}
.half-width {
  width: 50vw;
  display: flex;
}
.main-title {
  font-size: 3.5rem;
  color: white;
  margin: 25% 13% 5% 20%;
}
.primary-button {
  background-color: var(--primary-color);
  color: white;
  width: 168px;
  height: 44px;
  margin: 0 0 20% 20%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
.image-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.home-image {
  height: 70%;
  width: 60%;
  min-width: 300px;
  margin: 20% 18% 10% 13%;
  transition: transform 0.5s ease-out;
  z-index: 2;
}
.home-image:hover {
  transform: scale(110%, 110%);
}
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--primary-color);
  z-index: 1;
}
.wave1 {
  animation: wave 2s ease-in 0s infinite forwards;
}
.wave2 {
  animation: wave 2s ease-in 1s infinite forwards;
}

/*-----------------------------------
main styles
-----------------------------------*/
main {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.cards-div {
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 330px;
  height: 474px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.game-image {
  height: 256px;
  width: 300px;
  margin-top: 16px;
  object-fit: cover;
}
.game-name {
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  padding: 16px 16px 10px 16px;
  align-self: flex-start;
}
.game-description {
  text-align: start;
  font-size: 1rem;
  margin: 0;
  line-height: 26px;
  padding: 0px 16px 33px 16px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.664);
}

/*----------------------------
 video section style 
 ----------------------------*/
.video-section {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 70px;
  flex-direction: column;
  align-items: center;
}
.section-title {
  margin-top: 50px;
  font-size: 2.5rem;
  color: black;
  font-weight: 700;
  text-align: center;
}
.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

/*----------------------------
 review section style 
 ----------------------------*/
.review-section {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 70px;
  flex-direction: column;
  align-items: center;
}
.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.user-image {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
}
.user-name {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  margin-top: 16px;
}

/*----------------------------
 footer style 
 ----------------------------*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.copyright {
  display: block;
  text-align: center;
}
.gamehub-logo {
  width: 100px;
  height: 70px;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.fab {
  font-size: 1.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 100px;
  padding: 10px;
}

/*-----------------------------------
mobile media query 
-----------------------------------*/
